*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* header section style */
.title{
    margin-bottom: 20px;
    font-size: 50px;
}
.description{
    margin-bottom: 20px;
   
}
.primary-btn{
    border-radius: 5px;
    background-color:#E55473 ;
    border:0;
    color: white;
    font-size:15px;
    font-weight:700;
    padding: 10px 20px;
    
}
.header{
    background-color: #fbe6eb;
}
.banner{
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom:30px;
    justify-content: space-between;
}
.banner-pic{
    width: 400px;
}

/* .layout{
    border:5px solid blue;
    background-color: red;
    margin: 200px 300px 200px 300px;
} */

.text1{
    text-align: center;
    margin-top: 130px;
}
.layout-title{
    margin-bottom: 10px;
}
/* box design  */
.picture{
    display: flex;
    margin-left: 400px;
    margin-top: 10px;
   
}
.box-1{
    width: 150px;
    height: 200px;
    background-color:#e9a0c3 ;
    border-radius: 250px 250px 0px 0px;
   margin-right: 20px;

    
}
.box-2{
    width: 150px;
    height: 200px;
    background-color:rgb(192, 195, 197) ;
    border-radius: 250px 250px 0px 0px;
    margin-right: 20px;


}
.box-3{
    width: 150px;
    height: 200px;
    background-color:rgb(166, 229, 171) ;
    border-radius: 250px 250px 0px 0px;
    margin-right: 20px;


 }
.tulip{
    width: 150px;
       height:180px;
      margin-top: 20px;
     
}
.flower{
    width: 150px;
    height:170px;
   margin-top: 30px;
  
}
.flower2{
    width: 150px;
       height:190px;
      margin-top: 10px;
}
.pink{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
/* icon section style */
.icon-list{
display: flex;
margin-left: 240px;
margin-right: 240px;
margin-top: 130px;
border-radius: 8px;
background-color:  rgba(236, 76, 145, 0.8);
padding: 25px 30px 25px 10px;
}
.icons{
    margin-left:50px ;
   
}
.icons > img{
    width: 40px;
   
  
}
.little-description{
   
text-align: center;

}
.pic1{
    margin-left: 100px;
}
.pic2{
    margin-left: 100px;
}
.pic3{
    margin-left: 50px;
   
}
/* offer section style  */
.offer{
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom:20px;
    justify-content: space-between;
    margin-top: 130px;
    background-color: #f5e5ef;
}
.title3{
    text-align: center;
    margin-bottom: 20px;
}
.offer-description{
    text-align: center;
    margin-bottom: 18px;
   color: rgba(39, 39, 39, 0.60);
}
.primary-btn2{
    border-radius: 5px;
    background-color:#E55473 ;
    border:0;
    color: white;
    font-size:15px;
    font-weight:700;
    padding: 10px 20px;
    margin-left:210px;
    
}
.rose{
    width: 300px;
    margin-top:60px;
    
}